.select{
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 145px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.select:focus {
    outline: none;
}