@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

.contenedor {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.logo {
    margin: 0;
    padding: 0;
    z-index: 6;
    width: 15%;
    position: absolute;
    left: 0%;
    top: -2%;

}

.oak {
    z-index: 1;
    width: 20%;
    position: absolute;
    left: 38%;
    top: 1%;

}

.text {
    z-index: 3;
    position: relative;
    left: -2%;
    top: 84.5%;
    font-family: 'pokemon-font', monospace;
    font-size: larger;
}

.texBox {
    z-index: 2;
    width: 40%;
    position: absolute;
    left: 28%;
    top: 74%;
}

.texBoxSi {
    z-index: 4;
    width: 14%;
    position: absolute;
    left: 53.5%;
    top: 65%;
}
.si {
    z-index: 5;
    position: absolute;
    left: 59.5%;
    top: 66.8%;
    font-family: 'pokemon-font', monospace;
    font-size: larger;
}